//- include ./helpers/mixins

doctype html
html
    head
        title PageTitle
        link(rel="stylesheet" href='style/foundation.css')
        link(rel="stylesheet" href='style/style.css')
    body

        section.top-section
            .main
                .header
                    .logo.header__logo
                        img(src="./images/logo.png", alt="")
                    .banner.header__banner
                        span Новосибирск
                        |&nbsp;- свободен для открытия франшизы
                    .header__contacts.contacts.h-adaptive-hide
                        .contacts__tel
                            |+ 7 383&nbsp;
                            span 388-48-04
                        .contacts__place.place
                            span Новосибирск
                            button
                                img(src="./images/i/G61.svg", alt="")

                .top-section__title НАЧНИ ЗАРАБАТЫВАТЬ
                .top-section__subtitle
                    | на помощи призывникам в&nbsp;
                    .place.place--big
                        span Новосибирске
                        button
                            img(src="./images/i/G61.svg", alt="")

                .top-section__price.top-section-price
                    .top-section-price__text от 300 000 рублей в месяц
                    .top-section-price__bottom
                        span
                        img(src="./images/i/star.svg", alt="")
                        span

                .top-section__btn
                    button.button получить бизнес-план

                .top-section__btn-down.h-adaptive-hide
                    img(src="./images/i/down-arrow.svg", alt="")

        section.section-two
            .main
                .section-two__title.super-title
                    span.super-title__red [
                    |  ПОМОГАТЬ ПРИЗЫВНИКАМ —
                    span.super-title__red  выгодно ]

                .section-two__block
                    .section-two__block1
                        div.section-two__caption
                            span.section-two__dinprobold
                                | 100%
                                br
                                | законно
                        div.section-two__text
                            p.section-two__donpromedium
                                | Мы применяем только законные
                                br
                                |  методы получения отсрочки или
                                br
                                |  военного билета
                        div.section-two__img
                            img(src="./images/i/guarantee.svg", alt="")

                    .section-two__block2
                        div.section-two__caption
                            span.section-two__dinprobold
                                | Поможем каждому
                                br
                                | призывнику
                        div.section-two__text
                            p.section-two__donpromedium
                                | У 97% призывников есть непризывные
                                br
                                |  заболевания, которые смогут обнаружить
                                br
                                |  наши врачи. Наши юристы добьются
                                br
                                | выдачи военного билета.

                        div.section-two__img
                            img(src="./images/i/teamwork.svg", alt="")

                    .section-two__block3
                        div.section-two__caption
                            span.section-two__dinprobold
                                | 64%
                                br
                                | не хотят в армию
                        div.section-two__text
                            p.section-two__donpromedium
                                | Согласно официальному
                                br
                                |  опросу ВЦИОМ
                        div.section-two__img
                            img(src="./images/i/presentation.svg", alt="")

                .section-two__title2
                    p.section-two__title-text2
                        span.section-two__span-black  [
                        |  Бизнес полностью упакован
                        span.section-two__span-black  ]

                .description.section-two__description
                    div.description__block
                        div Все бизнес-процессы настроены и опробованы на собственном опыте.
                    div.description__block
                        div
                            | Берем на себя запуск рекламы в твоем городе, обучим продажам, работе с CRM-системой,
                            br
                            | сквозной аналитикой, телефонией и работе с личным кабинетом.
                    div.description__block
                        div  Курирование клиентов также берем на себя.

                .section-two__button
                    button.button получить бизнес-план

        section.section-three
            .main
                .calculator
                    .calculator__left
                        .calculator__title
                            | РАССЧИТАЙ СВОЙ&nbsp;
                            span ЗАРАБОТОК

                        .calculator__row
                            .calculator__row-top
                                .calculator__row-title Цена услуги, руб
                                .calculator__row-value
                                    span#range-price-amount
                            .calculator__row-middle
                                #range-price
                            .calculator__row-bottom
                                .calculator__row-price-min 60 000
                                .calculator__row-price-text Среднее значение у наших филиалов
                                .calculator__row-price-max 120 000

                        .calculator__row
                            .calculator__row-top
                                .calculator__row-title Рекламный бюджет, руб
                                .calculator__row-value
                                    span#range-advertising-amount
                            .calculator__row-middle
                                #range-advertising
                            .calculator__row-bottom
                                .calculator__row-price-min 0
                                .calculator__row-price-text Среднее значение у наших филиалов
                                .calculator__row-price-max 500 000

                        .calculator__row
                            .calculator__row-top
                                .calculator__row-title Прочие издержки (аренда), руб
                                .calculator__row-value
                                    span#range-other-amount
                            .calculator__row-middle
                                #range-other
                            .calculator__row-bottom
                                .calculator__row-price-min 0
                                .calculator__row-price-text Среднее значение у наших филиалов
                                .calculator__row-price-max 50 000

                    .calculator__right
                        .calculator__title.calculator__title--right ИТОГО
                        .calculator__receipts
                            .calculator__r-title Ваша выручка
                            .calculator__r-value
                                span#calc-receipts 0
                                | &nbsp; рублей
                        .calculator__profit
                            .calculator__r-title Чистая прибыль
                            .calculator__r-value
                                span#calc-profit 0
                                | &nbsp; рублей/год
                        .calculator__desc * с учетом расходов на рекламу, офис, налоги, и курирование клиентов юристами и врачами головного офиса до получения военного билета

                        button.button.button--white получить бизнес-план



        section.section-four
            .main
                .section-four__title.super-title
                    span.super-title__red [
                    span  ОЧЕНЬ НИЗКАЯ КОНКУРЕНЦИЯ
                    span.super-title__red  ]
                .section-four__block
                    .section-four__block1.section-four__content-block
                        .section-four__digits 850
                        .section-four__text Агенств
                            br
                            | недвижимости
                    .section-four__block2.section-four__content-block
                        .section-four__digits 1547
                        .section-four__text Юридических
                            br
                            | компаний
                    .section-four__block3
                        div.section-four__blockred
                            .section-four__text-top Всего
                            .section-four__content-block.section-four__content-block--red
                                .section-four__digits.section-four__digits--white 5
                                .section-four__text Компаний помощи
                                    br
                                    | призывникам
                            img.section-four__star(src="./images/i/star.svg", alt="")
                        .section-four__text-hint Фактически рынок свободен!

        section.section-five
            .main
                .section-five__title.super-title
                    span.super-title__red [
                    span  ОБЪЕМ РЫНКА
                    span.super-title__red  ]
                .banner.banner--red.section-five__banner
                        span Новосибирск
                        |&nbsp;- свободен для открытия франшизы
                .section-five__blocks
                    .section-five__block.section-five__block--1
                            .section-five__digits.section-five__digits-top 110 722
                            .section-five__block-text Призывников
                                br
                                | вашем городе
                            img.section-five__img1(src="./images/i/goal.svg", alt="")
                    .section-five__block
                            .section-five__digits.section-five__digits-top 41 390
                            .section-five__block-text Пользующихся
                                br
                                | отсрочкой
                            img.section-five__img2(src="./images/i/cash.svg", alt="")
                    .section-five__block.section-five__block--3
                            .section-five__digits.section-five__digits-top 29 389
                            .section-five__block-text План по призыву
                                br
                                | за 9 лет
                            img.section-five__img3(src="./images/i/email.svg", alt="")
                    .section-five__block.section-five__block--4
                            .section-five__digits
                                span
                                | 9.965
                                span.section-five__size30  млрд руб.
                            .section-five__block-text.section-five__block-texttop Потенциальный объём
                                br
                                | рынка в вашем городе (TAM)
                    .section-five__block
                            p.section-five__digits
                                span
                                | 3.595
                                span.section-five__size30  млрд руб.
                            .section-five__block-text.section-five__block-texttop Реальный объем рынка
                                br
                                | в вашем городе (SAM)
                    .section-five__block.section-five__block--6
                            p.section-five__digits
                                span
                                | 180
                                span.section-five__size30  млн руб.
                            .section-five__block-text.section-five__block-texttop Доля рынка 2% (SOM)
                P.section-five___text-bottom План по призыву за 9 лет – в сумме составляет лишь 26,6% от общего количества призывников.
                    br
                    | При этом - оставшиеся 73,4% призывников - боятся оказаться в списке призванных.

        section.section-six.slider
            .main
                .section-six__title.super-title
                    span.super-title__red [
                    span  СФЕРА ПОМОЩИ ПРИЗЫВНИКАМ — СОЦИАЛЬНО И ЭКОНОМИЧЕСКИ ПОЛЕЗНА!
                    span.super-title__red  ]
                .section-six__left-title Экономическая польза для государства
                .section-six__block
                    .section-six__block-left
                        div.description__block.section-six__description-block среднестатистический россиянин получает 33000руб в мес.
                        div.description__block.section-six__description-block с этой зарплаты в бюджет государства платится прямых налогов 14190руб в мес (43%);
                        div.description__block.section-six__description-block когда гражданин платит за услуги и товары другим - с них тоже платится налог государству (НДС, налог на прибыль, акцизы и т.д.) - это более 4000руб в мес, эта сумма циркулирует в экономике
                        div.description__block.section-six__description-block в среднем один гражданин приносит в бюджет около 20тыс.руб в месяц
                        div.description__block.section-six__description-block а польза другим субъектам экономики (компаниям, предприятиям, работникам) - еще выше;
                    .section-six__block-right.h-adaptive-hide
                        // img(src="", alt="Фоточка троих очень счастливых людей)")

                .section-six__nav
                    button.section-six__prev
                        img.section-six__img-left(src="./images/i/right.svg", alt="")
                    .section-six__numberpage
                        p.section-six__numberpage-sizemax
                            span
                            | 1
                            span.section-six__numberpage-sizemin /5
                    button.section-six__next
                        img.section-six__img-right(src="./images/i/right.svg", alt="")

        section.section-seven
            .main
                .section-seven__title.super-title
                    span.super-title__red [
                    span  ЧТО ВХОДИТ В ФРАНШИЗУ
                    span.super-title__red  ]
                .section-seven__blocks
                    .section-seven__block.section-seven__block--1
                        .section-seven__digits Сопровождение клиентов
                            br
                            | берем на себя
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинских нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img1(src="./images/i/customer-service1.svg", alt="")
                    .section-seven__block.section-seven__block--2
                        .section-seven__digits Маркетинг
                            br
                            | берем на себя
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинских нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img2(src="./images/i/megaphone2.svg", alt="")
                    .section-seven__block.section-seven__block--5
                        .section-seven__digits Полное обучение
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинских нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img3(src="./images/i/statistics3.svg", alt="")
                    .section-seven__block.section-seven__block--6
                        .section-seven__digits CRM-система
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинских нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img4(src="./images/i/computer4.svg", alt="")
                    .section-seven__block.section-seven__block--3
                        .section-seven__digits.section-seven__digits--paddingright Известный в России брэнд
                            //- br
                            //- | брэнд
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинских нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img5(src="./images/i/team5.svg", alt="")
                    .section-seven__block.section-seven__block--4
                        .section-seven__digits Качественная
                            br
                            | документация
                        .section-seven__block-text Курировать клиентов будут наши юристы и врачи (через личный кабинет). Вам не придется вникать во множество юридических и медицинскихих нюансов. Вы сможете целиком сфокусироваться на продажах.
                            img.section-seven__img6(src="./images/i/list6.svg", alt="")

                .section-seven__button
                    button.button получить бизнес-план

        section.section-eight
            .main
                .section-eight__title.super-title
                    span.super-title__red [
                    span  НАШИ ФРАНЧАЙЗИ
                    span.super-title__red  ]
                .section-eight__blocks

                    .section-eight__block.section-eight__block--1
                        .section-eight__block-desc
                            div(style="background-image: url(./images/director.jpg)").section-eight__foto
                            .section-eight__block-desc-text
                                .section-eight__name
                                    | Максим Петрович
                                    br
                                    | Олейников
                                .section-eight__lication г. Новосибирск

                        .section-eight__block-text Купил франшизу в Красноясрке в январе 2017 года. Через 3 месяца компания вышла на стабильную чистую прибыль в 230 тысяч рублей
                        a(href="").section-eight__block-button
                            img.section-eight__vk(src="./images/i/vk.svg", alt="")
                            span.section-eight__btntext Пообщаться с Максимом

                    .section-eight__block.section-eight__block--2
                        .section-eight__block-desc
                            div(style="background-image: url(./images/director.jpg)").section-eight__foto
                            .section-eight__block-desc-text
                                .section-eight__name
                                    | Максим Петрович
                                    br
                                    | Олейников
                                .section-eight__lication г. Новосибирск

                        .section-eight__block-text Купил франшизу в Красноясрке в январе 2017 года.  Через 3 месяца компания вышла на стабильную чистую прибыль в 230 тысяч рублей
                        a(href="").section-eight__block-button
                            img.section-eight__vk(src="./images/i/vk.svg", alt="")
                            span.section-eight__btntext Пообщаться с Максимом

                    .section-eight__block.section-eight__block--3
                        .section-eight__block-desc
                            div(style="background-image: url(./images/director.jpg)").section-eight__foto
                            .section-eight__block-desc-text
                                .section-eight__name
                                    | Максим Петрович
                                    br
                                    | Олейников
                                .section-eight__lication г. Новосибирск

                        .section-eight__block-text Купил франшизу в Красноясрке в январе 2017 года. Через 3 месяца компания вышла на стабильную чистую прибыль в 230 тысяч рублей
                        a(href="").section-eight__block-button
                            img.section-eight__vk(src="./images/i/vk.svg", alt="")
                            span.section-eight__btntext Пообщаться с Максимом

                    .section-eight__block.section-eight__block--4
                        .section-eight__block-desc
                            div(style="background-image: url(./images/director.jpg)").section-eight__foto
                            .section-eight__block-desc-text
                                .section-eight__name
                                    | Максим Петрович
                                    br
                                    | Олейников
                                .section-eight__lication г. Новосибирск

                        .section-eight__block-text Купил франшизу в Красноясрке в январе 2017 года. Через 3 месяца компания вышла на стабильную чистую прибыль в 230 тысяч рублей
                        a(href="").section-eight__block-button
                            img.section-eight__vk(src="./images/i/vk.svg", alt="")
                            span.section-eight__btntext Пообщаться с Максимом

                .section-eight__button
                    button.button получить бизнес-план

        section.section-form
            .main
                .section-form__content
                    form.section-form__form
                        .super-title.section-form__super-title
                            span.super-title__red [
                            span  ОСТАЛИСЬ ВОПРОСЫ?
                            span.super-title__red ]
                        .section-form__subtitle
                            | Оставьте заявку и с Вами свяжется
                            br
                            | директор по франчайзингу

                        input(type="text" placeholder="Ваше имя").section-form__input
                        input(type="tel" placeholder="Телефон").section-form__input
                        input(type="email" placeholder="email").section-form__input

                        button(type="submit").button.section-form__button ПОЛУЧИТЬ БИЗНЕС-ПЛАН

                        .section-form__confidence
                            .checkbox
                                input(type="checkbox" id="agree-confidence")
                                label(for="agree-confidence")
                            span
                                | Я согласен и ознакомлен с
                                a(href="")  Пользовательским соглашением
                                |  и
                                a(href="")  Политикой конфиденциальности

                    .section-form__photo
                        .section-form__director
                            .section-form__director-name Некрасов Никита
                            .section-form__director-position директор по франчайзингу

        footer.section-footer
            .section-footer__left
                .section-footer__logo
                    img(src="./images/logo.png", alt="")
                .section-footer__visa
                    img(src="./images/visa.png", alt="")
            .section-footer__middle
                .section-footer__contacts.contacts
                    .contacts__tel
                        |+ 7 383&nbsp;
                        span 388-48-04
                    .contacts__place.place
                        span Новосибирск
                        button
                            img(src="./images/i/G61.svg", alt="")
            .section-footer__right
                | ИП Коньяков С.Д.
                br
                | ИНН 540110257752 ОГРНИП 315547600053812
                br
                | Р/сч: 40802810600010000088 в ПАО БАНК «ФК ОТКРЫТИЕ»
                br
                | БИК 045004839
                br
                | Корр. счет: 30101810550040000839













        script(src='js/foundation.js')
        script(src='js/main.js')

        script.
            $(function() {

                function calculate() {
                    var price = $("#range-price").slider("value");
                    var advertising = $("#range-advertising").slider("value");
                    var other = $("#range-other").slider("value");

                    // [1] * округлить(3 + [2]/12) - [3]
                    var receipts = price * Math.round(3 + advertising / 12000) - other;
                    // [ВЫРУЧКА]*0,67 - [2] - [3] - [ВЫРУЧКА]*0,06
                    var profit = receipts * 0.67 - advertising - other - receipts * 0.06;

                    $('#calc-receipts').text(receipts);
                    $('#calc-profit').text(profit);
                }

                $("#range-price").slider({
                  range: "min",
                  value: 80000,
                  min: 60000,
                  max: 120000,
                  slide: function( event, ui ) {
                    $("#range-price-amount").text(ui.value+" руб");
                    price = ui.value;
                    calculate();
                  }
                });
                $("#range-price-amount").text($("#range-price").slider("value")+" руб");

                $("#range-advertising").slider({
                  range: "min",
                  value: 40000,
                  min: 0,
                  max: 500000,
                  slide: function( event, ui ) {
                    $("#range-advertising-amount").text(ui.value+" руб");
                    advertising = ui.value;
                    calculate();
                  }
                });
                $("#range-advertising-amount").text($("#range-advertising").slider("value")+" руб");

                $("#range-other").slider({
                  range: "min",
                  value: 10000,
                  min: 0,
                  max: 50000,
                  slide: function( event, ui ) {
                    $("#range-other-amount").text(ui.value+" руб");
                    other = ui.value;
                    calculate();
                  }
                });
                $("#range-other-amount").text($("#range-other").slider("value")+" руб");

                calculate();
            });
