// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');

@import "helpers/**/*.scss";
@import "components/**/*.scss";

@font-face {
    font-family: dinpro;
    src: url(/fonts/dr.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(/fonts/db.otf);
    font-family: dinpro;
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: dinpro;
    color: $text-color;
}
