.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: dinpro;
    font-weight: normal;
    font-size: 21px;
    line-height: 27px;
}

.description__block{
    position: relative;
    margin-left: 20px;

    &::before {
        content: '';
        width: 10px;
        height: 10px;
        border: none;
        border-radius: 50%;
        background-color: $colorred;

        position: absolute;
        top: 6px;
        left: -20px;
    }
}

.description__textpaddingleft{
    padding-left: 74px;
}
