.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__contacts {

    }

    &__place {

    }
}


@media screen and (max-width: 1200px) {
    .header {
        flex-direction: column;

        &__logo {
            margin-bottom: 24px;
        }
    }
}
