.section-form {
    background-color: #F5F4F4;
    padding: 91px 0 77px;

    &__content {
        display: flex;
        align-items: stretch;
    }

    &__form {
        flex: 1;
        background-color: #fff;
        padding: 88px 54px;
    }

    &__photo {
        width: 653px;
        background-image: url('../images/director.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        position: relative;
    }

    &__director {
        color: #fff;
        position: absolute;
        bottom: 21px;
        right: 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        font-size: 21px;
        line-height: 25px;

        &-name {
            font-weight: bold;
        }
    }

    &__super-title {
        text-align: left !important;
        margin-bottom: 32px;
    }

    &__subtitle {
        color: $colorred;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 31px;
        line-height: 25px;
    }

    &__input {
        height: 70px;
        width: 380px;
        background-color: #F5F4F4;
        border-radius: 5px 5px 0 0;
        padding: 0 21px;

        display: block;
        margin-bottom: 10px;

        color: #2B2B2B;
        font-size: 18px;
        @include placeholder {
            color: #989898;
            font-size: 16px;
        }
    }

    &__button {
        margin-top: 20px;
    }

    &__confidence {
        margin-top: 35px;
        display: flex;
        align-items: flex-start;

        .checkbox {
            margin-right: 11px;
            margin-top: -2px;
        }

        a {
            color: #F45953;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .section-form{

        &__content{
            flex-direction: column;
        }

        &__super-title{
            margin: 27px 67px;
        }

        &__subtitle{
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            margin-bottom: 46px;
        }

        &__form{
            width: 100%;
            padding: 44px 16px 46px;
            text-align: center;
        }

        &__input{
            width: 345px;
            height: 70px;
            margin-bottom: 10px;
        }

        &__button{
            margin: 24px 0 39px 0;
        }

        &__confidence{
            font-size: 14px;
            line-height: 18px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &__photo{
            width: 374.86px;
            height: 414.93px;
            margin: 0 auto;
        }

        &__director{
            right: 19.04px;
            bottom: 15.85px;
        }

        &__director-name{
            font-size: 13px;
            line-height: 15px;
        }

        &__director-position{
            font-size: 13px;
            line-height: 15px;
        }

        .main{
            width: 100%;
        }
        padding: 90px 0 0;
    }
}
