.section-five {
    background-color: #F5F4F4;
    padding: 93px 0 103px;

    &__title {
        margin-bottom: 40px;
    }

    &__banner {
        margin: 0 auto;
    }
}

.section-five__title-text{
    padding-top: 14px;
}

.section-five__minititle{
    display: flex;
    justify-content: center;
}

.section-five__minititle-text{
    background-color: $colorred;
    text-align: center;
    width: 567.17px;
    height: 34px;
}

.section-five__margintop{
    padding-top: 6px;
    color: white;
    font-size: 18px;
    font-family: dinpro;
    font-weight: normal;
}

.section-five__dottedline{
    border-bottom: 1px dashed white;
}

.section-five__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 66px;
}

.section-five__block {
    width: 33.3%;
    height: 230px;
    background-color: white;
    border: 1px solid #EDEDED;
    position: relative;
    display: flex;
    flex-direction: column;

    &--1 {
        border-top-left-radius: 10px;
    }
    &--3 {
        border-top-right-radius: 10px;
    }
    &--4 {
        border-bottom-left-radius: 10px;
    }
    &--6 {
        border-bottom-right-radius: 10px;
    }
}

.section-five__digits{
    font-family: dinpro;
    font-weight: bold;
    color: $colorred;
    font-size: 45px;
    position: absolute;
    left: 50px;
    top: 52px;
}

.section-five__digits-top{
    top: 61px;
}

.section-five__size30{
    font-size: 30px;
}

.section-five__block-text{
    font-family: dinpro;
    font-weight: normal;
    font-size: 21px;
    position: absolute;
    left: 50px;
    top: 126px;
}

.section-five__block-texttop{
    top: 117px;
}

.section-five__img1{
    width: 55.43px;
    height: 64.07px;
    position: absolute;
    top: 41.93px;
    right: 20.77px;
}

.section-five__img2{
    width: 69.98px;
    height: 70px;
    position: absolute;
    top: 36px;
    right: 23.02px;
}

.section-five__img3{
    width: 57px;
    height: 57px;
    position: absolute;
    top: 43px;
    right: 19px;
}

.section-five___text-bottom{
    text-align: center;
    font-size: 18px;
    font-family: dinpro;
    font-weight: normal;
    margin-top: 48px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .section-five {
        padding: 41px 0;

        .main {
            width: 100%;
        }

        &__title {
            margin-bottom: 33px;
        }

        &__banner {
            margin-bottom: 25px;
        }

        &__blocks {
            margin-top: 0;
            flex-direction: column;
        }
        &__block {
            width: 100%;
            border: 0px;
            border-bottom: 1px solid #EDEDED;

            &--1, &--3, &--4, &--6 {
                border-radius: 0px;
            }
        }
        &__digits, &__block-text {
            left: 41px;
        }
        &___text-bottom {
            width: 262px;
            margin: 0 auto;
            font-size: 16px;
            margin-top: 42px;
        }
    }
}

