.section-two {
    padding: 79px 0;

    &__title {
        margin-bottom: 47px;
    }

    &__block{
        display: flex;
        justify-content: center;
    }
}

.section-two__block1,
.section-two__block2,
.section-two__block3{
    flex: 1;
    height: 260.49px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    margin: 0 3px;
    padding: 40px;
    position: relative;
}

.section-two__caption {
    margin-bottom: 38px;
}
.section-two__text {
    font-size: 16px;
}

.section-two__dinprobold{
    font-family: dinpro;
    font-weight: bold;
    font-size: 27px;
    color: $colorred;
}

.section-two__donpromedium{
    font-family: dinpro;
    font-weight: normal;
    font-size: 16px;
}

.section-two__img{
    width: 51.5px;
    position: absolute;
    right: 25.5px;
    top: 37.49px;
}

.section-two__title2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 29px;
}

.section-two__title-text2{
    font-family: dinpro;
    font-weight: bold;
    font-size: 27px;
    color: $colorred;
}

.section-two__span-black{
    color: black;
}

.section-two__button{
    text-align: center;
    margin-top: 29px;
}







