.section-four {
    padding: 83px 0 119px;

    &__block3 {
        position: relative;
    }
}

.section-four__block {
   display: flex;
   justify-content: space-between;
   margin-top: 112.49px;
}

.section-four__content-block {
    width: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-four__block3 {

}

.section-four__digits{
    color: $colorred;
    font-size: 70px;
    font-family: dinpro;
    font-weight: bold;
    margin-right: 17px;

    &--white {
        color: #fff;
    }
}

.section-four__text {
    font-size: 21px;
    font-family: dinpro;
    font-weight: bold;

    margin-top: -10px;

    &--white {
        color: #fff;
    }
}

.section-four__blockred{
    font-family: dinpro;
    font-weight: bold;
    color: #FFFFFF;
    width: 320px;
    padding: 28px;
    height: 148px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $colorred;
    display: flex;
    flex-direction: column;
    position: relative;

    .section-four__content-block {
        width: 100%;
        justify-content: flex-start;
    }
}

.section-four__text-top {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 8px;
}


.section-four__star{
    width: 19.12px;
    height: 18.24px;
    position: absolute;
    top: 28px;
    right: 19.88px;
}

.section-four__text-hint{
    color: #000000;
    font-family: dinpro;
    font-weight: normal;
    font-size: 21px;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

@media screen and (max-width: 1200px) {
    .section-four {
        padding: 47px 0 111px;

        &__block {
            flex-direction: column;
            margin-top: 72px;
            align-items: center;
        }
        &__content-block:not(.section-four__content-block--red) {
            margin-bottom: 50px;
            flex-direction: column;
            text-align: center;
        }
        &__digits:not(.section-four__digits--white) {
            margin-right: 0;
            margin-bottom: 13px;
        }

        &__blockred {
            width: 320px;
            margin: 0 auto;
        }
    }
}

