.section-form {
    background-color: #F5F4F4;
    padding: 91px 0 77px;

    &__content {
        display: flex;
        align-items: stretch;
    }

    &__photo {
        width: 653px;
        background-image: url('../images/director.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        position: relative;
    }

    &__director {
        color: #fff;
        position: absolute;
        bottom: 21px;
        right: 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        font-size: 21px;
        line-height: 25px;

        &-name {
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1200px){
    .section-form {

        &__content{
            flex-direction: column;
        }

        .main{
            width: 100%;
        }
        padding: 90px 0 0;

        &__photo{
            width: 374.86px;
            height: 414.93px;
            margin: 0 auto;
        }

        &__director{
            right: 19.04px;
            bottom: 15.85px;
        }

        &__director-name{
            font-size: 13px;
            line-height: 15px;
        }

        &__director-position{
            font-size: 13px;
            line-height: 15px;
        }
    }
}
