.section-footer {
    background-color: #393939;
    display: flex;
    justify-content: center;
    padding: 41px 0;

    color: #fff;

    &__left {

    }
    &__middle {
        margin: 0 272px 0 105px;
    }
    &__right {
        font-size: 14px;
        line-height: 18px;
    }

    &__logo {
        margin-bottom: 25px;
    }
    &__contacts {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1200px){
    .section-footer {
        flex-direction: column;
        padding: 41px 22px 24px;

        &__left {
            margin-bottom: 30px;
        }
        &__middle {
            margin: 0;
            margin-bottom: 39px;
        }
        &__contacts {
            .contacts__place.place span {
                color: $colorred;
            }
        }
    }
}
