.section-seven{
    background-color: #F5F4F4;
    padding: 89px 0 86px;

    &__title {
        margin-bottom: 83px;
    }

    &__button{
        text-align: center;
        margin-top: 38.48px;
    }
}

.section-seven__title-text{
    margin-top: 10px;
    margin-bottom: 36.49px;
}

.section-seven__blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section-seven__block {
    width: 50%;
    height: 315px;
    background-color: white;
    border: 1px solid #EDEDED;
    position: relative;
    padding: 57px 51px 0;


    &--1 {
        border-top-left-radius: 10px;
    }
    &--2 {
        border-top-right-radius: 10px;
    }
    &--3 {
        border-bottom-left-radius: 10px;
    }
    &--4 {
        border-bottom-right-radius: 10px;
    }
}

.section-seven__digits{
    color: $colorred;
    font-size: 23px;
    font-family: dinpro;
    font-weight: bold;
    margin-bottom: 50px;

    &--paddingright{
        padding-right: 685px;
    }
}

.section-seven__block-text{
    font-size: 18px;
    line-height: 23px;
}

.section-seven__img1{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 42px;
    right: 28px;
}

.section-seven__img2{
    width: 61.99px;
    height: 70px;
    position: absolute;
    top: 47.17px;
    right: 41.04px;
}

.section-seven__img3{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 44px;
    right: 28px;
}

.section-seven__img4{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40.1px;
    right: 35px;
}

.section-seven__img5{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 46px;
    right: 28px;
}

.section-seven__img6{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 46.1px;
    right: 33px;
}

.section-seven__button{
    display: none;
}

@media screen and (max-width: 1200px) {
    .section-seven{

        padding-top: 65px;
        padding-bottom: 55px;

        .main{
            width: 100%;
        }

        &__button{
            display: block;
        }

        &__title{
            margin-bottom: 51.17px;
        }

        &__block{
            width: 100%;
            height: 200px;
            padding: 26.65px 32.36px 0;
            height: auto;
            padding-bottom: 26px;

            &--1{
                border-radius: 0px;
            }
            &--2{
                display: none;
            }

            &--{
                border-radius: 0px;
            }

            &--4{
                display: none;
            }

            &--6{
                display: none;
            }
        }


        &__digits{
            font-size: 16px;
            margin-bottom: 34.16px;
            line-height: 21px;
        }

        &__block-text{
            font-size: 16px;
            line-height: 21px;
        }

        &__img1{
            width: 44.42px;
            height: 44.42px;
            position: absolute;
            top: 26.65px;
            right: 17.77px;
        }

        &__img3{
            width: 44.42px;
            height: 44.42px;
            position: absolute;
            top: 27.65px;
            right: 17.77px;
        }

        &__img5{
            width: 44.42px;
            height: 44.42px;
            position: absolute;
            top: 29.19px;
            right: 17.77px;
        }

        &__digits--paddingright{
            padding-right: 0px;
        }
    }
}
