.section-six {
    padding: 110px 0 76px;

    background: {
        image: url('../images/fam.jpg');
        repeat: no-repeat;
        position: right bottom;
    }
}

.section-six__title {
    margin-bottom: 86px;
    padding: 0 225px;
}

.section-six__block{
    display: flex;
    position: relative;
}

.section-six__left-title{
    margin-bottom: 44px;
    font-family: dinpro;
    font-weight: bold;
    font-size: 23px;
}

.section-six__block-left,
.section-six__block-right {
    width: 50%;
}

.section-six__block-left {
    padding-right: 40px;
}

.section-six__block-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-six__description-block{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 27px;

    &::before {
        top: 7px;
    }
}

.circle2,
.circle4,
.circle5{
    margin-bottom: 19px;
}

.circle3{
    margin-bottom: 38px;
}

// фоточка спарава
// .section-six__block-right{
//     background-color: black;
//     color: white;
//     height: 511px;
// }

// кнопки слайдера
.section-six__nav{
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 60px;
}

.section-six__prev,
.section-six__next{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.section-six__img-left{
    transform: rotate(180deg);
}
.section-six__img-right{
}

.section-six__numberpage {
    margin: 0 15px;
}

.section-six__numberpage-sizemax{
    font-size: 18px;
    font-family: dinpro;
    font-weight: normal;
}

.section-six__numberpage-sizemin{
    font-size: 12px;
}

@media screen and (max-width: 1200px) {
    .section-six {
        padding: 51px 0 292px;
        background: {
            position: center bottom;
            size: 375px auto;
        }

        .main {
            position: relative;
        }

        &__nav {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }

        &__title {
            padding: 0;
            margin-bottom: 100px;
        }

        &__block-left {
            width: 100%;
            padding: 0 15px;
        }

        &__left-title {
            font-size: 18px;
            text-align: center;
        }

        &__description-block {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

