.section__title{
    text-align: center;
    padding-top: 79px;
    padding-bottom: 47.51px;
}

.section__title-text{
    font-size: 30px;
    font-family: dinpro;
    font-weight: bold;
    text-transform: uppercase;
}

.section__span-red {
    color: $colorred;
}

.section-two__block{
    display: flex;
    justify-content: center;
}

.section-two__block1,
.section-two__block2,
.section-two__block3{
    width: 28%;
    height: 260.49px;
    background-color: #FAFAFA;
    border: 1px solid #EDEDED;
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
}

.section-two__caption,
.section-two__text{
    padding-left: 40px;
}

.section-two__dinprobold{
    font-family: dinpro;
    font-weight: bold;
    font-size: 27px;
    color: $colorred;
}

.section-two__donpromedium{
    font-family: dinpro;
    font-weight: normal;
    font-size: 16px;
}

.section-two__img{
    width: 51.5px;
    position: absolute;
    right: 25.5px;
    top: 37.49px;
}

.section-two__title2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 29px;
}

.section-two__title-text2{
    font-family: dinpro;
    font-weight: bold;
    font-size: 27px;
    color: $colorred;
}

.section-two__span-black{
    color: black;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: dinpro;
    font-weight: normal;
    font-size: 21px;
}

.description__block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border: none;
    border-radius: 50%;
    background-color: $colorred;
}

.circle-center{
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border: none;
    border-radius: 50%;
    background-color: $colorred;
    margin-bottom: 22px;
}

.description__textpaddingleft{
    padding-left: 74px;
}

.section-two__button{
    text-align: center;
    padding: 29px 0px 78px 0px;
    position: relative;
}

// .button-shadowblock{
//     width: 270px;
//     height: 70px;
//     background-color: #cc2727;
//     // position: absolute;
//     // bottom: 70px;
//     // left: 594px;
//     text-align: center;
//     padding: 29px 0px 78px 0px;
//     z-index: 100;
// }



