.top-section {
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 35px 0 140px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;

    &__title {
        margin-top: 168px;

        font-size: 52px;
        font-weight: bold;
        text-align: center;
    }

    &__subtitle {
        margin-top: 14px;

        font-size: 34px;
        font-weight: bold;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__place {
        display: flex;
        align-items: flex-end;
        margin-top: 5px;

        span {
            color: #fff;
            border-bottom: 2px dashed #fff;
            padding-bottom: 1px;
            font-size: 16px;
            font-weight: bold;
        }

        button {
            display: flex;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-color: rgba(0,0,0,0);
            margin-left: 8px;
        }

        &--big {
            align-items: center;
            span {
                font-size: inherit;
            }
            button {
                margin-left: 10px;
            }
        }
    }

    &__price {
        margin-top: 57px;
    }

    &__btn {
        text-align: center;
        margin-top: 73px;
    }

    &__btn-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 35px;
        cursor: pointer;

        img {
            width: 15px;
        }
    }
}
